torch==2.14.0
numpy==2.4.4
pyyaml==6.0.3
datasets==5.0.1
matplotlib==3.10.8
psutil==7.2.2
pandas==3.0.2
nbformat==5.10.4
nbclient==0.10.4
nbconvert==7.17.1
ipykernel==7.2.0
scikit-learn==1.8.0
nltk==3.10.3
scipy==1.17.1
lpips==0.1.4
